<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
		<title>burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		
		
	</head>
	<body>
		<img src="/public/assets/img/burger.png" width="400px">

		{{{ body }}}
	</body>
</html>