.logo {  background-color: #494545;
  color: #d4bcbc;
  margin-top: 5%;
    background-image: url("../img/burger.png");
    background-repeat: no-repeat;
  
  
  }
 body{
background-color: #ad3e3e;
 }
  #burger-image{
    height: 30%;
    width: 50;
  }